:root {
    --translate-X-add-product:  0px;
    --opacity-value-add-product: 1;
}

.home-page{
    position: relative;
    word-wrap: break-word;
    margin: 15px 0px 0px 0px;
    z-index: 1;
    position: relative;
    top: 50px;
    margin: auto;
    /* max-width: 1200px; */
    height: 100vh;

}

.nav-section2-background{
    position: sticky;
    top: 50px;
    z-index: 999;
    
}

.nav-section2{
    z-index: 1000;
    position: sticky;
    width: 100%;
    display: flex;

    background-color: white;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    font-size: 14px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.home-info{
    display: flex;
    flex-direction: row;
}

.add-icon-shadow{
    box-shadow: 1px 1px 5px #999;
}

.circle-shadow{
    box-shadow: 1px 6px 7px #999;
}


.ease-in-animation{
    transform: translateX(var(--translate-X-add-product));
    transition: transform 0.2s;
}

.ease-out-animation{
    transform: translateX(var(--translate-X-add-product));
    opacity: var(--opacity-value-add-product);
    transition: transform 1s, opacity 0.3s;
}

.go-in{
    animation-name: go-in-animation;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

@keyframes go-in-animation {
    0% {
        opacity: 0;
        transform: translateX(0px);
    }
    40%{
        opacity: 1;
    }
    /* 50% {
        transform: translateX(-250px);
    } */
    50%{
        transform: translateX(-260px);
    }
    75%{
        transform: translateX(-247px);
    }
    100%{
        transform: translateX(-250px);
    }
}

.go-out{
    animation-name: go-out-animation;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

@keyframes go-out-animation {
    0% {
        opacity: 1;
        transform: translateX(-250px);
    }
    40%{
        opacity: 0;
    }
    100%{
        opacity: 0;
        transform: translateX(0px);
    }
}



.rotate-plus-sign-back{
    color: white;
    animation-name: rotate-backward;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

.rotate-plus-sign{
    color: #3e87ad;
    animation-name: rotate-forward;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}
@keyframes rotate-backward {
    from {
        transform: rotate(-45deg) scale(120%);
    }
    to {

        transform: rotate(0deg) scale(120%);
    }
}
@keyframes rotate-forward {
    from {transform: rotate(0deg) scale(120%);}
    to {transform: rotate(-45deg) scale(120%);}
}